.widget-template{
    width: 185px;
    height: 185px;
    list-style: none;
    background-color: #ddd;
    cursor: pointer;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
}
.gridster li header {
    background: #eee;
    display: block;
    font-size: 20px;
    line-height: normal;
    padding: 4px;
    // margin-bottom: 20px;
    cursor: move;
}


.chart{
    position: relative;
    padding: 0px 23px 7px 0px!important;
}
.settings, .remove{
    cursor: pointer;
}
.modal-backdrop{
    // position: relative;
}
